body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #111;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.2);
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    border: 1px solid #0f0;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #0f0;
}

input[type="text"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #0f0;
    border-radius: 5px;
    background-color: #111;
    color: #0f0;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: 2px solid #0f0;
    border-radius: 5px;
    background-color: #111;
    color: #0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #222;
}

#result {
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
    background-color: #111;
    padding: 15px;
    border-radius: 5px;
    max-width: 100%;
    border: 1px solid #0f0;
    color: #0f0;
    word-wrap: break-word;
}
